@attribute [Authorize(Roles = "Admin")]
@page "/admin"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using ScanApp.Infrastructure.Persistence
@using Microsoft.Extensions.DependencyInjection
@using ScanApp.Application.Common.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IServiceScopeFactory ScopeFactory
@inject IScopedMediator Mediator
@inject IDbContextFactory<ApplicationDbContext> ContextFactory

@inherits OwningComponentBase

<h1>Admin page</h1>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private IApplicationDbContext ApplicationDbContext { get; set; }
    private IApplicationDbContext RoleContext { get; set; }

    protected override void OnInitialized()
    {

        ApplicationDbContext = ContextFactory.CreateDbContext();
        RoleContext = ContextFactory.CreateDbContext();

        base.OnInitializedAsync();

    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        RoleContext.Dispose();
        ApplicationDbContext.Dispose();
    }
}