@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Not auth click</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}