@attribute [Authorize]
@page "/Test"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using ScanApp.Infrastructure.Persistence
@using Microsoft.Extensions.DependencyInjection
@using ScanApp.Application.Common.Interfaces
@using ScanApp.Application.Admin.Queries.GetAllUserRoles
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<ApplicationDbContext> AppDbContextFactory
@inject IServiceScopeFactory ScopeFactory
@inject IScopedMediator Mediator
@inject IApplicationDbContext context
@inject IDbContextFactory<ApplicationDbContext> ContextFactory

@inherits OwningComponentBase

<h1>Admin page</h1>
<div class="container-fluid m-0">
    <div class="row">
        <div class="col-sm-10 m-0 p-1">
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private IApplicationDbContext ApplicationDbCtx { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitializedAsync();
        ApplicationDbCtx = ContextFactory.CreateDbContext();
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        ApplicationDbCtx.Dispose();
    }
}