@typeparam TItem

<MudDialog>
    <TitleContent>
            @if (SelectedItems.Count == 1)
            {
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Outlined.SelectAll" />
                    Choose an action for 1 item
                </MudText>
            }
            else
            {
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Outlined.SelectAll" />
                    Choose an action for @SelectedItems.Count items
                </MudText>
            }

</TitleContent>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudButton OnClick="Copy">Copy</MudButton>
            <MudButton OnClick="Delete">Delete</MudButton>
            <MudButton OnClick="Export">Export to...</MudButton>
        </div>
    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Error" OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public HashSet<TItem> SelectedItems { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Copy()
    {
        MudDialog.Close(DialogResult.Ok("Copy"));
    }

    private void Delete()
    {
        MudDialog.Close(DialogResult.Ok("Delete"));
    }

    private void Export()
    {
        MudDialog.Close(DialogResult.Ok("Export"));
    }
}
